<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace=" ">
	<select id="getAllEamilByMember" resultType="String">
		select email from member
		where grade like 'M'
	</select>
	
	<select id="getOneEmailByMemid" parameterType="String" resultType="String">
		select email from member
		where memid like #{memid}
	</select>
</mapper>