<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	공지사항 테이블 시퀀스 생성
	CREATE TABLE test_board( seq INT NOT NULL AUTO_INCREMENT PRIMARY KEY, title VARCHAR(20) NOT NULL );
 -->
  
<mapper namespace=" ">
	<select id="insertOneNotice" parameterType="VO.noticeVO">
		insert into notice(title, writer, contents, regdate, status, hits, category)
		values (#{title}, #{writer}, #{contents}, now(), 0, 0, #{category})
	</select>
<!-- 
	<select id="getAllDataNotice" parameterType="Map" resultType="VO.noticeVO">
		select *
		from (select rownum rn, bno, title, writer, contents, hits, regdate, status, category
				from(select * from notice
						order by bno desc )
				where rownum <= #{rownum} )
		where rn >= #{rn}
		order by regdate desc
	</select>
-->
	<!-- 공지사항 게시물 토탈 카운팅 -->
	<select id="getTotalCountNotice" resultType="int">
		select count(*) cnt
		from notice
	</select>
	<!-- 전체 게시물 페이징 -->
	<select id="getAllDataNotice" parameterType="Map" resultType="VO.noticeVO">
		select *
		from nitice
		order by bno desc
		limit #{startNo}, #{endNo}
	</select>
	
	<update id="updateOneNotice" parameterType="VO.noticeVO">
		update notice 
		set title = #{title}, contents = #{contents}, category = #{category} 
		where bno = #{bno}
	</update>
	<!-- 게시물 삭제 -->
	<delete id="deleteOneNotice" parameterType="int">
		delete notice 
		where bno = #{bno} 
	</delete>
	<!-- 조회수 늘리기 -->
	<update id="raiseHitsNotice" parameterType="int">
		update notice 
		set hits = hits+1 
		where bno = #{bno}
	</update>
	<!-- 게시물 블라인드 처리 -->
	<update id="blindOneNotice" parameterType="int">
		update notice 
		set status = 1 
		where bno = #{bno} 
	</update>
</mapper>