html, body {
	margin: 0;
 	padding: 0;
	background-color: #eee8da;
	min-height: 80%;
}
#container {
	margin: 0;
	padding: 0;
 	width: 100%;
 	height: 100%;
}
/* λΈν†µ */
#body_container{
	padding-top: 150px;
	width: 90%;
	margin: 0 auto;
}
