@charset "UTF-8";


#ProductResult{
	
margin: 0 auto;
width: 1200px;
outline: 2px solid red;	
	
}

#img{
width: 200px;
height: 200px;
}


p{
text-align: center;
}

#ProductWrap{
border: 1px solid black;
float: left;
width: 400px;
	
}